# Ignore the .ipynb checkpoint files
.ipynb_checkpoints/
__pycache__/
*/.ipynb_checkpoints/
*/__pycache__/
unweighted_files/
bdt_output/
plots/
Branching_ratios/
Other_files/
Uncertainties/
bdts/
limit_files/
pkl_files/
reco2_script_output/
*:memory:*
limits/
observed_data/
jsons/
